<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Product Page</title>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous"
		/>

		<!-- Font Awesome CDN -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300&display=swap"
			rel="stylesheet"
		/>

		<style>
			body {
				font-family: 'Roboto', sans-serif;
			}
			nav {
				font-size: 1em;
			}
			.mainTable {
				margin-top: 1em;
				margin-bottom: 0;
				width: 100%;
			}

			.container,
			.jumbotron {
				margin-bottom: 0;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Online Pasal</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarText"
				aria-controls="navbarText"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Products<span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/order">Orders</a>
					</li>
				</ul>
				<span class="navbar-text font-weight-bold text-white"
					><a href="/admin/logout"
						>Logout <i class="fas fa-sign-out-alt"></i>
					</a>
				</span>
			</div>
		</nav>

		<div class="container jumbotron bg-white">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<span class="h4 font-weight-bold">Products</span>
					</div>
					<div class="row">
						<span>Total Products: </span>
						<span id="totalProducts" class="pl-sm-1"></span>
					</div>
				</div>
				<div class="col-6 text-right">
					<a href="/admin/product/add">
						<button class="btn btn-dark font-weight-bold">
							<span>Add Product</span>
							<i class="fas fa-plus-circle btn-lg"></i>
						</button>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="mainTable table-responsive">
					<table class="table mainTable table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Product ID</th>
								<th scope="col">Product Name</th>
								<th scope="col">Product Description</th>
								<th scope="col">Product Price (In Nrs.)</th>
								<th scope="col">Quantity</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody id="tableBody"></tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="container messages text-danger font-weight-bold"></div>
	</body>

	<script>
		const errMsg = 'Failed to load data. Please reload the page...';
		const tableBody = document.getElementById('tableBody');
		const totalProducts = document.getElementById('totalProducts');

		const msgDiv = document.querySelector('.messages');

		const generateTemplate = (product) => {
			let tableRow =
				'<tr><th scope="row"><PRODUCTID></th><td><PRODUCTNAME></td><td><PRODUCTDESC></td><td><PRODUCTPRICE></td><td><QUANTITY></td><td><a href="/admin/product/<PRODUCTID>"><button class="btn btn-primary btn-sm">Edit Product</button></a></td></tr>';
			tableRow = tableRow.replace(/<PRODUCTID>/g, product._id);
			tableRow = tableRow.replace(/<PRODUCTNAME>/g, product.productName);
			tableRow = tableRow.replace(/<PRODUCTDESC>/g, product.description);
			tableRow = tableRow.replace(/<PRODUCTPRICE>/g, product.price);
			tableRow = tableRow.replace(/<QUANTITY>/g, product.quantity);

			return tableRow;
		};

		const loadData = (data) => {
			data.map((product) => {
				const productTemplate = generateTemplate(product);
				tableBody.insertAdjacentHTML('beforebegin', productTemplate);
			});
		};

		(async () => {
			try {
				// POST method
				const res = await fetch('/product', {
					method: 'GET',
					mode: 'cors',
					cache: 'default',
					headers: { 'Content-Type': 'application/json' },
				})
					.then((res) => res.json())
					.then((json) => {
						totalProducts.innerText = json.length;
						loadData(json);
					});
			} catch (error) {
				console.log(error);
				msgDiv.innerText = errMsg;
			}
		})();
	</script>
	<script
		src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"
	></script>
</html>
